

*{
    margin: 0;
    padding: 0;
    font-family:
}
:root{
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #e4405f;
    --color-letras: #252b33;
    --color-desierto: #eee8aa;
    --color-subtitulo: #6c757d;
}
body{
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: ;
}
.cnt-ns{
    width: 70%;
    max-width: 1320px;
    margin: 0 auto;
}
.nav-cnt{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav-cnt a{
    text-decoration: none;
    color: inherit;
}
.logo{
    font-size: 30px;
    font-weight: 700;

}
.bnt-logo{

}

.cn-menu ul{
    display: flex;
    align-items: center;
    list-style: none; /*saca los defectos que viene por defaaul*/
    gap: 2rem; /*espacio entre botones*/
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 700;/**/
    color: var(--color-letras);
}
.cn-menu a::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--color-desierto);
    display: block;
    transition: all 0.2s ease;
}
.cn-menu a:hover::after{
    width: 100%;
}
.menu-item{
    display: inline-block; /**/

}